.menu-icon-keyboard {
    z-index: 99;
    display: inline-block;
}
.menu-icon-keyboard a {
    text-decoration: none;
}

.menu-icon-keyboard nav {
    font-family: monospace;
}

.menu-icon-keyboard ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.menu-icon-keyboard li {
    display: block;
    float: left;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
    z-index: 99;
}

.menu-icon-keyboard li a {
    padding: 1em;
    color: black !important;
}

.menu-icon-keyboard .dropdown ul {
    padding: 1em;
}

.menu-icon-keyboard li:focus-within {
    cursor: pointer;
}

.menu-icon-keyboard li:focus-within a {
    outline: none;
}

.menu-icon-keyboard ul li ul {
    background: lightgray;
    visibility: hidden;
    opacity: 0.5;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}

.menu-icon-keyboard ul li:hover > ul,
.menu-icon-keyboard ul li:focus-within > ul,
.menu-icon-keyboard ul li ul:hover,
.menu-icon-keyboard ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block;
}

.menu-icon-keyboard ul li ul li {
    clear: both;
    width: 100%;
}

.keyboard-icon {
    margin-right: 0.5em;
}
